<% include ../partials/header %>


<div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Postfeed</h1>
                
                <p>
                    <a class="btn btn-primary btn-large" href="/posts/new"> Go ahead...post something !</a> 
        
                </p>
            </div>
        </header>
        
    
        <div class="row text-center" style="display:flex; flex-wrap: wrap">
            <% posts.forEach(function(post){ %>
            <div class="col-lg-6 col-md-6 col-sm-6" style="border:solid 1px grey">
                        <div class=caption>
                            <h4><%= post.name %></h4>
                        </div>
                        
                        <p>
                            <a href="/posts/<%= post._id%>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
            </div>
         <% }); %>
        </div>
     
    </div>
 
<% include ../partials/footer %>  